
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    color:#fff;
}

:root{
    --primary-clr: #5598fd;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(58, 172, 201);
    overflow: hidden;
    height: 100vh;
    background-image: url(./images/beautiful_snow_covered_mountains_lake_scenery_4k_hd_nature.jpg);
    background-repeat: no-repeat;
    background-size:cover;

}

.main-wrapper{
    width: 100%;
    margin:auto;
    height: 100vh;
    padding: 20px 70px;
}

.current-info{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container-date{
    font-weight:100px;
}
.container-date .time{
    font-size: 70px;

}
.container-date #am-pm{
    font-size: 30px;
    margin-left:10px;
}
.container-date .date{
    font-size: 30px;
}

.scroll-container{
    text-align: end;
}
.scroll-container .time-zone{
    font-size:30px;
    font-weight:100;
    color: black;
}
.scroll-container .location{
    font-size: 12px;
    font-weight: 700;
}
.current-info .details{
    display: flex;
    flex-direction: column;
    background: rgba(226, 226, 226, 0.6);
    padding:20px;
    border-radius: 10px;
    margin: 10px 0;
    margin-top: 50px;
}
.current-info .details .weather-item{
    display: flex;
    justify-content: space-between;
}
.future-forecast{
    background: rgba(79, 79, 80, 0.8);
    padding: 30px;
    position: fixed;
    bottom:0;
    display: flex;
    color: white;
    width:100%;
    align-items: center;
    justify-content: center;
}

.future-forecast .today{
    display: flex;
    align-items:center ;
    justify-content: center;

}

.future-forecast .today .day{
    padding: 5px 15px;
    background-color: #3c3c44;
    border-radius:50px;
    text-align: center;

}

.future-forecast .today .temp{
    font-size: 20px;
    padding-top:15px;

}
.future-forecast .weather-forecast{
    display:flex;
}
.w-icon{
    width: 75px;
    height: 75px;
}
.weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding:5px;
}
.weather-forecast .weather-forecast-item .day{
    padding: 5px 15px;
    background-color: #3c3c44;
    border-radius: 50px;
    text-align: center;
}
.weather-forecast .weather-forecast-item .temp{
    font-weight: 100;
}
.future-forecast .today{
    display: flex;
    height: 190px;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding:5px;
}
.search{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 20px;
    position: relative;


}
.search input{
    width:100%;
    height:40px;
    border: 1px solid #ced4da;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0 15px;
    font-size: 14px;
    color: #495057

}
.search input:focus{
    outline: none;
    border: 1px solid var(--primary-clr);

}
.search button{
    min-width: 40px;
    height:40px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:var(--primary-clr);
    font-size:14px;
    color:#fff;
    cursor: pointer;

}
.weather-icon{
    width:100%;
    height: 15px;
    text-align: center;
    margin-top: -10px;
    margin-bottom:100px;

}
.weather-icon #icon{
    width: 80%;
    object-fit: cover;

}
.temperature{
    display: flex;
    margin-left: 120px;
}
#tempi{
    font-size:xx-large;
    font-weight:bold;
    line-height: 1;

}
.temperature span{
    font-size:30px;
    margin-top:-10px;
    display:block;
}

@media only screen and (max-width:730px){

    .main-wrapper{
        padding: 20px;
    }
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }
    .future-forecast.today .temp{
        font-size:23px;

    }

    .container-date .date{
        font-size: 20px;
    }

    .scroll-container{
        text-align: end;
        margin-top: 15px;
    }
    .scroll-container .time-zone{
        font-size: 20px;
        text-align: left;
        color: #fff;
        background-color: none;
    }
    #location{
        text-align: left;
    }
    .current-info .other{
        padding: 12px;

    }
    .current-info .other .weather-item{
        font-size: 14px;
    }

    .search{
        font-size: 14px;
    }
    .weather-icon{
        width: 60%;
        object-fit: cover;
    }
    .weather-icon #tempi{
        margin-left:-70px;
    }

}

